* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;;
  font-size: 62.5%;
}

body {
  background: #fff;
  line-height: 1.6rem;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}

/* HEADER SECTION  */
.header {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}

.header .image {
  width: 20vw;
  height: 20vw;
  border-radius: 2vw;
}

.header .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.header .name {
  font-size: 4vw;
  font-weight: 600;
  color: #4e5150;
}

.header p {
  font-size: 2.4vw;
  font-weight: 600;
  color: #a9a9a9;
}

.header .stats {
  display: flex;
  gap: 2rem;
}

.header .stats .stats-details {
  width: 15vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  border-radius: 1.2vw;
}

.header .stats .stats-details h4 {
  font-size: 3vw;
  font-weight: 600;
  color: #4e5150;
  margin-bottom: 2vw;
}

.header .stats .stats-details p {
  font-size: 2.2vw;
  font-weight: 600;
  color: #bdbdbd;
}

/* GALLERY SECTION */
.gallery {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2.5vw;
  /* border: .1rem solid #000; */
}

.gallery-top {
  display: flex;
  gap: 2.5vw;
  width: 100%;
  height: 30vw;
  /* border: .1rem solid #000; */
}

.gallery-top img {
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
}

.gallery-top img:first-child {
  width: 30%;
}
.gallery-top img:last-child {
  width: 70%;
}

.gallery-bottom {
  width: 100%;
  height: 60vw;
  display: flex;
  gap: 2.5vw;
}

.gallery-bottom_left {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  row-gap: 2.5vw;
}

.gallery-bottom_left_group {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 2.5vw;
}

.gallery-bottom_left img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  border-radius: 2vw;
}

.gallery-bottom_right {
  width: 35%;
  height: 100%;
}

.gallery-bottom_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
}

footer p {
  text-align: center;
  color: #b9bdcf;
  font-size: 1.4rem;
  font-weight: 700;
}
